/* color:
dark red: #751c0e
bright red: #e80c0c
yellow: #f2c750
orange: #fa753c
light blue: #d3edf0
*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background: #751c0e;
  color: #e80c0c;
}

@media only screen and (min-width: 320px) {
  body {
    background-color: lightblue;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: darkblue;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: red;
    font-size: 1.25rem;
  }
}

.game-container {
  margin: 100px 20px;
  /* background: #751c0e */
}

.header {
  margin-top: 0 auto;
}

.teamName {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: #f2c750;
  padding: 10px;
}

.gameName {
  width: 800px;
  font-size: 6em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #fa753c;
  border: 7px solid #fa753c;
  border-radius: 10px;
  margin: 0 auto;
}

.logo {
  width: 70px;
  height: 70px;
}

.logoContainer {
  margin: 0 auto;
  width: 100px;
}

.start {
  margin: 0 auto;
}

.instructions {
  text-align: center;
  font-size: 1.5em;
  color: #d3edf0;
  margin-top: 50px;
}

.startButton {
  color: #f2c750;
  background: none;
  border: 3px solid #f2c750;
  font-size: 2.5em;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 75px 0px;
}

.buttonContainer {
  margin: 0 auto;
  width: 300px;
}

.game {
  width: 50%;
  margin: 0 auto;
}

.randomWord {
  padding-top: 20px;
  color: #e80c0c;
  text-align: center;
  font-size: 5em;
  font-style: italic;
  text-transform: capitalize;
  margin: 20px 0px;
}

form {
  padding-top: 50px;
  margin: 0 auto;
  width: 400px;
}

.submitButton {
  color: #f2c750;
  background: none;
  border: 3px solid #f2c750;
  font-size: 2em;

  border-radius: 10px;
  text-transform: uppercase;
}

label {
  font-size: 20px;
  color: #d3edf0;
}

input[type='text'] {
  color: #d3edf0;
  border: 2px solid #d3edf0;
  border-radius: 4px;
  padding: 10px;
  width: 400px;
  margin: 20px auto;
}

.correct {
  color: #e80c0c;
  background: none;
  border: 3px solid #e80c0c;
  font-size: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 20px;
}

.tryagain {
  color: #f2c750;
  background: none;
  border: 3px solid #f2c750;
  font-size: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 20px;
}
